:root {
    --accent-color: #ED202E;
    --additional-color: #000000;
    --main-color: #da4b1a;
    --background-color: #FFFFFF;
    --text-color: #FFFFFF;
    --text-color-accent: #000000;
    --shadow-color: #00000019;
}
